<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form submited</title>
</head>
<body>
    <h3>Form submited</h3>
    <p>Thank you for submitting the form</p>
    <table>
        <tr>
            <td>Username</td>
            <td>{{username}}</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>{{password}}</td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td>{{confirm_password}}</td>
        </tr>
    </table>
</body>
</html>